.webexplode-focus {
    background-color: rgba(0, 255, 0, 0.5);
}

.webexplode-ancestor {
    background-color: rgba(0, 0, 0, 0.1);    
}

.webexplode-overlay {
    position: absolute;
    pointer-events: none;
    z-index: 1000;
}
