/* Cascading Style Sheet (CSS) for Web X-Ray Goggles */

/* Style for when you SHIFT + up to inspect parent and grandparent
 * associations */

.webxray-ancestor {
    background-color: rgba(0, 0, 0, 0.1);    
}

/* Style for the message that appears in footer heads-up-display (HUD) */

.webxray-hud {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 0.5em;
    color: white;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 9pt;
    background-color: rgba(0, 0, 0, 0.7);
    pointer-events: none;
    border: none;
    z-index: 2147483645;
}

.webxray-hud code {
    font-family: Monaco, monospace;
    color: inherit;
    background: inherit;
    font-size: 8pt;
    display: inline;
}

.webxray-hud span.webxray-url {
    color: #aaaaaa;
}

/* Style for the tag label */

.webxray-overlay-label {
    position: absolute;
    font-family: Monaco, monospace;
    color: white;
    font-size: 8pt;
    background-color: #000000;
    pointer-events: none;
    border: inherit;
}

.webxray-overlay-label-top {
    top: 0px;
    left: 0px;
}

.webxray-overlay-label-bottom {
    bottom: 0px;
    right: 0px;
}

.webxray-overlay {
    position: absolute;
    pointer-events: none;
    border: none;
    z-index: 2147483644;
}

/* A DOM element that has been deleted by the user, but which
 * we'd like to remember just in case the user decides to undo
 * the deletion. */
.webxray-deleted {
    display: none;
}

.webxray-dialog-overlay {
    z-index: 2147483646;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    border: none;
    background: rgba(0, 0, 0, 0.5);
}

.webxray-dialog-outer {
    width: 100%;
    height: 100%;
    display: table;
    position: static;
    border: inherit;
    background: inherit;
}

.webxray-dialog-middle {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    border: inherit;
    background: inherit;
}

div.webxray-dialog-inner {
    width: 1024px;
    height: 66%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    border: inherit;
    background: white;
}

div.webxray-dialog-content, .webxray-dialog-inner iframe {
    width: 1024px;
    min-height: 480px;
    height: 100%;
    border: inherit;
}

.webxray-topmost {
    z-index: 2147483647 !important;
}

.webxray-hidden {
    visibility: hidden !important;
}
