/* Cascading Style Sheet (CSS) for Web X-Ray Goggles */

/* Style for when you SHIFT + up to inspect parent and grandparent
 * associations */

.webxray-ancestor {
    background-color: rgba(0, 0, 0, 0.1);    
}

/* Style for the message that appears in footer heads-up-display (HUD) */

.webxray-hud {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 0.5em;
    color: white;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 9pt;
    background-color: rgba(0, 0, 0, 0.7);
    pointer-events: none;
    z-index: 1001;
}

.webxray-hud code {
    font-family: Monaco, monospace;
    color: inherit;
    background: inherit;
    font-size: 8pt;
    display: inline;
}

/* Style for the tag label */

.webxray-overlay-label {
    position: absolute;
    font-family: Monaco, monospace;
    color: white;
    font-size: 8pt;
    background-color: #000000;
    pointer-events: none;
}

.webxray-overlay-label-top {
    top: 0px;
    left: 0px;
}

.webxray-overlay-label-bottom {
    bottom: 0px;
    right: 0px;
}

.webxray-overlay {
    position: absolute;
    pointer-events: none;
    z-index: 1000;
}

/* Our palette for tag colors */

.webxray-color-1 {
    color: #C60C46;
}

.webxray-color-2 {
    color: #00AEEF;
}

.webxray-color-3 {
    color: #F3739B;
}

.webxray-color-4 {
    color: #FF66FF;
}

.webxray-color-5 {
    color: #E66124;
}

.webxray-color-6 {
    color: #FFC328;
}

.webxray-color-7 {
    color: #B2E725;
}

.webxray-color-8 {
    color: #660066;
}

.webxray-color-9 {
    color: #FF9900;
}
